.search-bar {
  display: inline-block;
  width: 80%;
  margin: 20px;
  text-align: center;
  
  & .form-control {
    padding: 5px 10px;
    font-size: 30px;
    width: 100%;
    height: auto;
  }
  
}
